* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.startmenu {
    min-height: 100%;
    min-width: 100%;
    margin: 0;
    padding: 0;
    background: url('./assets/images/svg/') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.startmenu__video-background {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

.startmenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.2);
    color: #f1f1f1;
    width: 100%;
    height: 100%;
    padding: 20px;
    z-index: 99;
}

.startmenu__menu img {
    margin-bottom: 50px;
}




